# macOS
.DS_Store

# History files
.Rhistory
.Rapp.history

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# local dev files
dev.R
